AddDefaultCharset utf-8
AddHandler php5-script .php
RewriteEngine on

RewriteCond %{HTTP_HOST} ^www.notaprofile.com [NC]
RewriteRule ^(.*)$ http://notaprofile.com/$1 [L,R=301]

RewriteRule ^logout$ /index.php?logout=si
RewriteRule ^view$ /visualizacionLlaves.php
RewriteRule ^viewKeys$ /visualizacionLlaves.php
RewriteRule ^viewkeys$ /visualizacionLlaves.php
RewriteRule ^create$ /insertarLlave.php
RewriteRule ^view/orphans$ /visualizacionLlaves.php?filtro=0
RewriteRule ^view/claimed$ /visualizacionLlaves.php?filtro=1

RewriteRule ^viewKeys/orphans$ /visualizacionLlaves.php?filtro=0
RewriteRule ^viewkeys/claimed$ /visualizacionLlaves.php?filtro=1
RewriteRule ^viewKeys/orphans$ /visualizacionLlaves.php?filtro=0
RewriteRule ^viewkeys/claimed$ /visualizacionLlaves.php?filtro=1
RewriteRule ^key/(.*)?$ /llave.php?c=$1

ReWriteRule ^gps$ /ip.map.php
ReWriteRule ^m/create$ /ip.map.php
ReWriteRule ^m/view$ /ip.view.php
ReWriteRule ^m/connections$ /ip.connections.php

ReWriteRule ^connection/(.*)?$ /indconnections.php?usr=$1
ReWriteRule ^connections$ /connections.php

ReWriteRule ^about$ /about.php

ReWriteRule ^help$ /help.php