#userinfo {
	float: right;
	width: 345px;
	text-align: right;
	font-size: 12px;
	margin: 3px;
}
/* CUERPO */
#cuerpo_sign {
	height: 470px;
	float:left;
	top:10px;
	width:546px;
	margin-right: 6px;
}
#boton{
	height:30px;
	width:195px;
	margin-top:4px;
	float:right;
}
#text_box{
	height:26px;
	width:207px;
	margin-top:8px;
	float:right;
}
#header{
	height: 26px;
	width:546px;
	float:left;
}
#info{
	height: 26px;
	width:546px;
	margin-top:5px;
	float:left;
}
#box {
	width:201px;
	font-family:"Courier New", Courier, monospace;
	font-size:16px;
}
#sign {
	height: 22px;
	float:right;
	color:#999999;
}
#sign_link{
	height: 22px;
	float:right;
}
#checkbox_1 {
	height: 22px;
	width: 207px;
	float:right;
	font-weight:bold;
}
#sign h3 {
	text-align:right;
	font-weight: normal;
	margin-top:10px;
}
#sign h4 {
	text-align:right;
	font-weight: normal;
	margin-top:2px;
	font-size:14px;
	text-align:right;
}
#sign_link h4 {
	text-align:right;
	font-weight: normal;
	margin-top:2px;
	font-size:14px;
	text-align:right;
	margin-right:5px;
}
#englobador_sign_in{
	width:546px;
	height:150px;
}
#englobador_sign_up{
	width:546px;
}
#catch {
	float:left;
	top:10px;
	width:339px;
}