/* ESTILOS BASE */
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
body,td,th {
	font-family: Courier New, Courier, monospace;
	font-size: 18px;
	color: #FFF;
	font-weight: normal;
}
body {
	background-color: #000;
}
a:link {
	color: #FCAF3F;
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
	color: #C98B30;
}
a:hover {
	text-decoration: none;
	color: #FCAF3F;
}
a:active {
	text-decoration: underline;
}
h1 {
	font-size: 33px;
	font-weight: normal;
}
h2 {
	font-size: 24px;
}
#contenido {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	/*background: url(../img/columna.gif);*/
}
/* CABEZOTE */
#cabezote {
	height: 120px;
}
#cabezote h1 {
	padding: 6px 0 12px 3px;
	border-bottom: 3px solid #fff;
}
#nav {
	float: left;
	width: 408px;
}
#nav li {
	float: left;
	width: 138px;
}
#nav li a {
	display: block;
	padding: 3px;
	text-decoration: none;
}
#nav li a:hover {
	background-color: #FCAF3F;
	color: #000;
}
#userinfo {
	float: right;
	width: 345px;
	text-align: right;
	font-size: 12px;
	margin: 3px;
}
/* CUERPO */
#cuerpo {
	height: 470px;
}
#llaves {
	float: left;
	width: 270px;
	height: 100%;
}
#mapatabs {
	width: 270px;
	height: 35px;
}
.claimedactiva {
	background: url(../img/tab_claimed.gif);
}
.orphansactiva {
	background: url(../img/tab_orphans.gif);
}
#mapatabs .orphans, #mapatabs .claimed {
	width: 132px;
	float: left;
	text-align: center;
	margin-top: 5px;
}
#listallaves {
	font-size: 12px;
	height: 435px;
	background: #FFF;
	overflow: auto;
	color: #000;
}
#listallaves li {
	padding: 0;
	height: 65px;
	margin-bottom: 10px;
}
#listallaves li:hover {
	background-color: #999;
}
#listallaves li:hover .textollave .loc {
	color: #666;
}
#listallaves .fotollave, #listallaves .textollave {
	float: left;
}
#listallaves .fotollave {
	width: 65px;
	margin-right: 4px;
}
#listallaves .fotollave img {
	margin: 2px;
}
#listallaves .textollave {
	width: 180px;
	margin-top: 10px;
}
#listallaves .textollave .texto {
	font-size: 12px;
}
#listallaves .textollave .loc {
	font-style: italic;
	font-size: 10px;
	color: #999;
}
#mapa {
	float: left;
	width: 684px;
	height: 470px;
	font-family: sans-serif; font-size: 12px; color: black;

}
#navmapa {
	height: 31px;
}
#navmapa .createkey {
	float: right;
	background: url(../img/btn_create.gif);
	width: 202px;
	height: 26px;
}
#navmapa a.createkey {
	display: block;
}
#navmapa a.createkey span {
	margin-left: -40000px;
}
#gmap {
	height: 439px;
}
/* PIE */
#pie {
	height: 20px;
	font-size: 12px;
	margin: 3px;
	text-align: right;
}
/* LLAVE DETALLE */
#fotollave {
	background: url(../img/fotoejemplo.jpg) repeat-x;
	width: 100%;
	height: 360px;
	position: absolute;
	top: 80px;
	z-index: 0;
}
#gradiente {
	background: url(../img/degrade.png) repeat-x;
	width: 100%;
	height: 360px;
}
#contenido {
	z-index: 1;
	position: relative;
}
#dislike, #like {
	width: 87px;
	height: 87px;
	position: absolute;
	top: 316px;
}
#dislike {
	background:  url(../img/btn_dislike.png) no-repeat;
	left: 116px;
}
#like {
	background:  url(../img/btn_like.png) no-repeat;
	left: 737px;
}
#dislike a, #like a {
	width: 87px;
	height: 87px;
	display: block;
}
#dislike a span, #like a span {
	margin-left: -40000px;
}
#textollave {
	position: absolute;
	left: 266px;
	top: 328px;
	width: 408px;
	background: url(../img/fondo.png);
}
#textollave p {
	margin: 20px 10px 10px 10px;
	line-height: 140%;
}

/* CONEXIONES */

#listaconexiones li {
	float: left;
	width: 132px;
	margin: 0 6px 6px 0;
	position: relative;
}

#listaconexiones li.ultima {
	margin-right: 0;
}

#listaconexiones li div {
	padding: 2px;
	position: absolute;
	left: 6px;
	top: 6px;
}

#listaconexiones li div {
	font-weight: bold;
	background-color: rgba(130,130,130,0.5);
}

#listaconexiones li .yo {
	color:#0000FF;
}

#listaconexiones li .ella {
	color:#FF0000;
}
